# Dependencies
node_modules/
package-lock.json

# Vercel & Deployment
.vercel
.output

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/
*.tmp

# Environment & Secret files
.env
.env*.local
*.pem

# Editor and IDE configurations
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Utility / Scratch Scripts & Raw Upload Media
crop_assets.ps1
assets/media_*

.vercel
